.img-container {
  width: 100%;
  height: 200px;
  float: left;
  overflow: hidden;
}

.img-container img {
  width: 100%;
}

.article-container:hover {
  cursor: pointer;
}

.routerLinks {
  text-decoration: none;
  color: currentColor;
}

.routerLinks:hover {
  text-decoration: none;
  color: grey;
  transition: 0.3s
}

#postBody {
  height: 100px;
  overflow: hidden;
}

#postBody::after {
  content: '...'
}
