.article-container {
  width: 85%;
}

.img-container {
  width: 100%;
  height: 400px;
  float: left;
  display: block;
  overflow: hidden;
}

.img-container img {
  width: 100%;
  z-index: -1;
}

.routerLinks, .routerLinks:hover {
  color: currentColor;
}

a {
  text-decoration: underline;
}

a:hover {
  cursor: pointer
}
